- flash.delete(:timedout).each do |k, v|
  .alert.alert-dismissible class="alert-#{k}" role='alert'
    button.close type='button' data-dismiss='alert' aria-label='Close' 
      span aria-hidden='true' &times;
    = v

