header.main-header
  / logo
  a.logo 
    strong FoodPoint!
  nav.navbar.navbar-static-top role='navigation'
    a.sidebar-toggle data-toggle='offcanvas' role='button'
      span.ion-navicon-round
      span.sr-only Toggle Navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        - if @current_user
          li.dropdown.user.user-menu
            a.dropdown-toggle data-toggle='dropdown'
              div
                = image_tag(@profile_small_picture, class: 'user-image' )
                span = @current_user['name']
            ul.dropdown-menu
              li.user-header
                = image_tag(@profile_big_picture, class: 'image-circle')
                p = @current_user['name']
                p from #{@current_user['location']['name']}
              li.user-body
                .clearfix
                  .pull-left
                    strong Last sign in
                  .pull-right
                    p #{timeago_tag(sign_in_time, :nojs => true, :limit => 10.days.ago)}
                .clearfix
                  .pull-left
                    strong Birthday
                  .pull-right
                    p = @current_user['birthday']
                .clearfix
                  .pull-left
                    strong Gender
                  .pull-right
                    p = @current_user['gender']
                .clearfix
                  .pull-left
                    strong Email
                  .pull-right
                    p = @current_user['email']
                .clearfix
                  .pull-left
                    strong Website
                  .pull-right
                    p = @current_user['website']
                .clearfix
                  .pull-left
                    strong Verfied
                  .pull-right
                    -if @current_user['verified']
                      span.ion-ios-checkmark.bg-success
                    - else 
                      span.ion-ios-close.bg-danger
              li.user-footer
                .pull-left
                  = link_to @current_user['link'], title: 'Check facebook Profile', class: 'btn btn-default btn-flat', target: '_blank' do
                    span Facebook Profile

          li
            = link_to sign_out_path, title: 'sign out' do 
              span.ion-log-out