aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header Navigation
      li.treeview
        = link_to root_path do
          span.ion.ion-ios-home
          span Home
        = link_to locations_path do 
          span.ion.ion-android-restaurant
          span Look for Restaurants
          