.facebook.container
  .row
    .col-md-5.col-md-offset-7
      .sign-in-box
        .box.box-warning.disable
          .box-header
            h3.text-center Welcome to FoodPoint!
          .box-body
            .callout.callout-warning
              p Locate and route your favorite food in town with FoodPoint!
            
            .login-button
              = link_to @fb_url, title: 'Sign in with Facebook' do
                .text-center
                  = image_tag('facebook-sign-in.png', alt: 'facebook sign in logo', title: 'Sign-in with facebook')
        