$ui-primary: #3c8dbc;
$ui-primary-light: #3c8dbc;
$ui-primary-dark: #357ca5;

$ui-info: #00c0ef;
$ui-info-light: #00c0ef;
$ui-info-dark: #00a7d0;

$ui-success: #00a65a;
$ui-success-light: #00a65a;
$ui-success-dark: #008d4c;

$ui-warning: #f39c12;
$ui-warning-light: #f39c12;
$ui-warning-dark: #db8b0b;

$ui-danger: #dd4b39;
$ui-danger-light: #dd4b39;
$ui-danger-dark: #d33724;

$ui-grey: #d2d6de;
$ui-grey-light: #d2d6de;
$ui-grey-dark: #b5bbc8;

$ui-navy: #001f3f;
$ui-navy-light: #001f3f;
$ui-navy-dark: #001a35;

$ui-teal: #39cccc;
$ui-teal-light: #39cccc;
$ui-teal-dark: #30bbbb;

$ui-purple: #605ca8;
$ui-purple-light: #605ca8;
$ui-purple-dark: #555299;

$ui-orange: #ff851b;
$ui-orange-light: #ff851b;
$ui-orange-dark: #ff7701;

$ui-maroon: #d81b60;
$ui-maroon-light: #d81b60;
$ui-maroon-dark: #ca195a;

$ui-black: #111;
$ui-black-light: #111;
$ui-black-dark: #000;