.sidebar-toggle:before {
  content: '' !important;
}

#place_keyword {
  font-size: 23px;
  height: 46px;
}
  
.loader {
  display: none;
  position: fixed;
  background: rgba(255,255,255,0.7);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .inner-loader {
    position: fixed;
    right: 40%;
    text-align: center;
    top: 50%;

    .spinner {
      font-size: 30px;
    }
  }
}

.content-wrapper {
  position: relative;
}

.white-text {
  color: #fff;
}

.marker {
  
  #user-image {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: 3px solid #f39c12;
  }

  &.distination-location {
    background: #00a65a;
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 30px;
    font-color: #fff;
    height: 42px;
    width: 40px;
    text-align: center;
  }
}