.locations {
  .result-places {
    margin: 20px 0 0 0;

    .empty-results {
      .ion {
        width: 10px;
      }
    }
    
    .info-box {
      .info-box-icon {
        background: none;
      }
      
      .info-box-content {
        background: #fff;
        color: #111;
        p {
          margin: 0px;
        }  
      }
    }
  }

  .map-view {
    width: 100%;
    height: 600px;
    background: grey;
  }
}