.col-md-12
  .box.collapsed-box.box-solid class=category_color_theme(place.category[:id])
    .box-header
      .box-title
        = "#{place.title}, #{place.try(:distance)} meters away"
      .box-tools.pull-right
        button.btn.btn-box-tool data-widget='collapse'
          span.ion.ion-plus-circled.white-text
    .box-body
      = link_to location_path(place.id, location_path_options(place, @results)) do
        .info-box class=category_color_theme(place.category[:id])
          span.info-box-icon
            = image_tag(place.icon)
          .info-box-content
            .row
              / category
              .col-md-2 
                strong Category
              .col-md-9
                p = place.category[:title].gsub('/', ' ')
              / distance
              .col-md-2 
                strong Distance
              .col-md-9
                p = "#{place.try(:distance)} meters away"
              / vicinity
              .col-md-2 
                strong Vicinity
              .col-md-9
                p = raw place.try(:vicinity)
