.row
  .col-md-12
    .input-group
      = text_field(:place, :keyword, class: 'form-control', placeholder: 'Find Nearest Restaurant, Coffee shop or Convience Store', value: params[:q])
      span.input-group-btn
        = button_tag('Search', class: 'btn bg-orange btn-lg', type: 'button', id: 'search_button')
