= render 'search_location_form'
- unless @results.blank?
  .row.result-places
    .col-md-8
      / render restaurants
      .row
        - if @results[:collection].empty?
          .empty-results
            .callout.bg-aqua
              p
                span.ion.ion-alert
                span We Can't find the place that you're looking for.
        - else
          h4 Nearest Location:
          = render @results[:collection]
    .col-md-4
      / render current location
      .small-box.bg-red
        .inner
          h4 Your Current Location
          p = sanitize @results[:search][:context][:location][:address][:text]
        .icon
          span.ion.ion-ios-location
        .small-box-footer
