.row
  - if @location_detail
    / locations
    .col-md-9
      .nav-tabs-custom#map-tabs
        ul.nav.nav-tabs
          li class=active?(@location_detail, 'public_transport_route')
            a href='#' data-tab='public_transport_route' data-toggle='tab' area-expanded='true'
              span.ion.ion-android-bus
              span Public Transport Route
          li class=active?(@location_detail, 'driving_route')
            a href='#' data-tab='driving_route' data-toggle='tab' area-expanded='true'
              span.ion.ion-android-car
              span Driving Route
          li class=active?(@location_detail, 'pedestrian_route')
            a href='#' data-tab='pedestrian_route' data-toggle='tab' area-expanded='true'
              span.ion.ion-android-walk
              span Pedestrian Route
        .tab-content.maps
          .tab-pane#public_transport_route class=active?(@location_detail, 'public_transport_route')
            .map-view#map_with_public_transport_route
          .tab-pane#driving_route class=active?(@location_detail, 'driving_route')
            .map-view#map_with_driving_route
          .tab-pane#pedestrian_route class=active?(@location_detail, 'pedestrian_route')
            .map-view#map_with_pedestrian_route
    / details
    .col-md-3
      / render current location
      .small-box.bg-red
        .inner
          h4 Current Location
          p = raw @location_detail[:current_location]
        .icon
          span.ion.ion-ios-location
        .small-box-footer
      / destination
      .small-box.bg-green
        .inner
          h4 Destination Location
          strong = @location_detail[:title]
          p = raw @location_detail[:vicinity]
        .icon
          span.ion.ion-ios-location
        .small-box-footer
        